<?xml version="1.0" encoding="utf-8"?> 
<configuration> 
	<packageSources> 
		<!-- This configuration is for automated builds that need access to private repositories. -->
		<add key="NuGet.org" value="https://api.nuget.org/v3/index.json" /> 
		<add key="Axinom cloud" value="https://axnuget.azurewebsites.net/nuget/__AXINOM_NUGET_READ_API_KEY__" />
		<add key="Axinom cloud CB" value="https://axnuget-cb.azurewebsites.net/nuget/__AXINOM_CB_NUGET_READ_API_KEY__" />
	</packageSources> 
</configuration> 
